<h1>Задачи</h1>
<% Project.all.each do |project| %>
	<h2><%= %project.title %></h2>
	<ul>
		<% project.todos.each do |todo|%>
			<li><%= todo.text %></li>
		<% end %>
	</ul>
<% end %>

<h1>Новая задача</h1>
